@import "../../vars.css";

.educationWrapper {
    opacity: 0; 
    transform: translateY(35px); /* Initial position */
    transition: opacity 1s ease-out, transform 1s ease-out; 
    display: block; 
    width: 100%;
}

.educationWrapper.is_visible {
    opacity: 1; 
    transform: translateY(0); /* Original position */
}

.educationHeader {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 35px;
    text-align: center;
    color: rgb(248, 74, 68);
}

.tabHeader {
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 17px;
    background-color: var(--color-tab);
    border-radius: 5px;
}

.windowContainer {
    margin: 20px auto;
    margin-bottom: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    max-width: 610px; 
    min-width: 370px;
    width: calc(100% - 100px);
    background-color: var(--color-ide-bg2);
    box-sizing: border-box;
    overflow: hidden;
}


.cardsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; 
    gap: 5px;
    padding: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap; 
}

.cardsWrapper a {
    text-decoration: none;
    color: inherit;
}

.schoolContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;   
    
    padding: 15px 15px;
    gap: 10px;

    border: 0.5px solid var(--color-border);
    margin: 0 auto;         
    width: 280px; 
    
    transition: background 0.3s ease, transform 0.3s ease;
    border-radius: 12px;
    height: 100%; 
    box-sizing: border-box;
}

.schoolContainer:hover {
    background: rgba(255, 255, 255, 0.03);
    transform: translateY(-5px);
}

.schoolImg {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.textContainer {
    color: rgb(95, 206, 204);
    margin: 0;
    font-size: 15px;
    line-height: 1.6; 
}

.degreeDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} */

