@import "../../vars.css";

.educationHeader {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 35px;
    text-align: center;
    color: rgb(248, 74, 68);
}

.windowContainer {
    margin: 20px auto;
    margin-bottom: 50px;
    border-radius: 5px;
    font-size: 12.5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    max-width: 350px;
    min-width: 340px;
    width: calc(100% - 100px);
    background-color: var(--color-ide-bg);
    box-sizing: border-box;
}

.tabHeader {
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 17px;
    background-color: var(--color-tab);
    border-radius: 5px;
}

.schoolContainer {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    border-bottom: 0.5px solid var(--color-border);
    margin-left: 30px;
    margin-right: auto;
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
    animation-delay: 0.2s; 
}

.textContainer {
    color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 250px;
    padding-bottom: 20px;
}

.degreeDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px; 
}

.schoolImg {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 10px;
    background-color: white; 
    padding: 3px; 
    margin-left: 40px;
    flex-shrink: 0;
    box-sizing: content-box; 
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

