@import "../../vars.css";

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.aboutHeader {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: center;
    color: rgb(111, 161, 221);
    animation: fadeIn 3.5s ease-in-out forwards; 
}

.windowContainer {
    margin: 20px auto; 
    background-color: var(--color-tab);
    border-radius: 5px;
    font-size: 12.5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    max-width: 800px; 
    min-width: 280px;
    width: calc(100% - 100px); 
    box-sizing: border-box; 
    animation: fadeIn 4s ease-in-out forwards; 

}

.tabHeader {
    color: white;
    font-size: 12.5px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.terminalHeader {
    font-family: 'Cascadia Code', 'Cascadia Mono', monospace;
    font-size: 12.5px;
    color: white;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(19, 19, 20);
    /* border-style: solid; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid gray;
    border-width: 1px;
    border-right: 0px;
    border-left: 0px;
    border-color: gray;
}

.terminal {
    font-family: 'Cascadia Code', 'Cascadia Mono', monospace;
    font-size: 12.5px;
    background-color: var(--color-terminal-bg);
    color: var(--color-secondary-text);
    padding-top: 5px;
    min-height: 150px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.bashCommand {
    font-family: 'Cascadia Code', 'Cascadia Mono', monospace;
    font-size: 12.5px;
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #686a68;
    animation: typing 1s steps(15, end), blink 1s step-end infinite;
    animation-delay: .8s, 2s;
    color: rgb(218, 213, 213);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 25%;
    }
}

@keyframes blink {
    0%, 50% {
      border-color: white;
    }
    51%, 100% {
      border-color: transparent;
    }
}

.aboutText {
    opacity: 0;
    margin-top: 10px;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 2.5s; 
    font-size: 15.5px;
    color: rgb(98, 212, 210);
    padding-bottom: 5px;  
    text-align: left;
    font-family: 'Cascadia Code', 'Cascadia Mono', monospace;
}

.userTerminal {
    color: #8ae234;
    font-size: 13.5px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.ideContainer {
    font-family: 'Fira Code', 'Courier New', monospace;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    background-color: var(--color-ide-bg);
    border-radius: 5px;
    padding-bottom: 15px;
}
  
.operator {
    color: rgb(186, 57, 54); 
    font-weight: bold;
}

.import {
    color: rgb(193, 126, 223); 
}

.function {
    color: rgb(111, 161, 221)
}

.parenthesis {
    color: rgb(241, 209, 71)
}