@import "../../vars.css";

.experienceHeader {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 35px;
    text-align: center;
    color: rgb(241, 209, 71);
    opacity: 0; 
    transform: translateY(35px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.experienceHeader.is_visible {
    opacity: 1; 
    transform: translateY(0); 
}

.windowContainer {
    margin: 20px auto; 
    margin-bottom: 50px;
    background-color: var(--color-tab);
    border-radius: 5px;
    font-size: 12.5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    max-width: 700px; 
    min-width: 280px;
    width: calc(100% - 100px); 
    box-sizing: border-box; 
    opacity: 0; 
    transform: translateY(35px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.windowContainer.is_visible {
    opacity: 1;
    transform: translateY(0); 
}

.imgContainer {
    width: 85px;
    height: 85px;
    object-fit: fill;
    border-radius: 10px;
    flex-shrink: 0;
    box-sizing: content-box; 
}

.svgLogo {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.svgLogo:hover, .imgContainer:hover {  
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.tabHeader {
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.bulletPoint {
  color: #FFD700; 
  font-weight: bold;
  margin-right: 5px; 
}

.textContainer {
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    background-color: var(--color-ide-bg);
    border-radius: 5px;
    padding-bottom: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.roleContainer {
    display: flex;              
    justify-content: center; 
    width: 100%;                
    align-items: center;
    gap: 5px;  
}

.textGroup { 
    display: flex;
    flex-direction: column; 
}

.titleGroup {
    display: flex; 
    align-items: center; 
}


.role {
    color: rgb(193, 126, 223);
    padding-left: 10px;  
}

.roleTitle {
    color: rgb(111, 161, 221);
    padding-left: 3px;
    padding-right: 5px;  
}

.time {
    color: #FFD700;
    margin-left: 10px;
    margin-top: 10px;
}

.description {
    padding-right: 10px;
    font-size: 15px;
}

.highlight {
    color: rgb(98, 212, 138);
    padding-right: 2px;
}