@import "../../vars.css";

.experienceHeader {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 35px;
    text-align: center;
    color: rgb(241, 209, 71)
}

.windowContainer {
    margin: 20px auto; 
    margin-bottom: 50px;
    background-color: var(--color-tab);
    border-radius: 5px;
    font-size: 12.5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    max-width: 700px; 
    min-width: 280px;
    width: calc(100% - 100px); 
    box-sizing: border-box; 
}

.imgContainer {
    width: 85px;
    height: 85px;
    object-fit: fill;
    border-radius: 10px;
    flex-shrink: 0;
    box-sizing: content-box; 
}

.tabHeader {
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.textContainer {
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    background-color: var(--color-ide-bg);
    border-radius: 5px;
    padding-bottom: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.roleContainer {
    display: flex;              
    justify-content: center; 
    width: 100%;                
    align-items: center;
    gap: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;       
}

.textGroup { 
    display: flex;
    flex-direction: column; 
}

.titleGroup {
    display: flex; 
    align-items: center; 
}


.role {
    color: rgb(193, 126, 223);
    padding-left: 10px;  
}

.roleTitle {
    color: rgb(111, 161, 221);
    padding-left: 3px;
    padding-right: 5px;  
}

.time {
    color: rgb(241, 209, 71);
    margin-left: 10px;
    margin-top: 10px;
}

.description {
    opacity: 0;
    padding-right: 10px;
    animation: fadeIn 1s ease-in-out forwards;
    font-size: 15px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.highlight {
    color: rgb(98, 212, 138);
    padding-right: 2px;
}