@import "../../vars.css";

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.contactContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
    flex-wrap: wrap; 
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.contactImg {
    border-radius: 55px;
    width: 45%;
    max-width: 300px;
    min-width: 240px;
    /* cursor: pointer; */
    /* transition: transform 0.3s ease; */
    animation: fadeIn 1.25s ease-in-out forwards; 
}

/* .contactImg:hover {
    transform: scale(1.02); 
} */

.nameContainer {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    animation: fadeIn 1.75s ease-in-out forwards; 
}

.fname {
    color: var(--color-primary-text);
}

.lname {
    color: var(--color-secondary-text);
}

.description {
    color: var(--color-primary-text);
    animation: fadeIn 2.25s ease-in-out forwards; 
}

.contact {
    color: var(--color-primary-text);
    animation: fadeIn 2.75s ease-in-out forwards; 
}

.buttonContainer,
.resumeContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px; 
    animation: fadeIn 3.5s ease-in-out forwards; 
}

.resumeContainer {
    margin-right: 17px;
}

.emailButton,
.github,
.linkedin,
.resume {
    display: flex;
    padding: 10px 20px; 
    border: 1px solid #444; 
    border-radius: 5px; 
    background-color: transparent; 
    color: var(--color-primary-text);
    font-size: 14px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.emailButton:hover,
.github:hover,
.linkedin:hover,
.resume:hover {
    background-color: var(--color-nav-bg);
    color: var(--color-tertiary-text);
    transform: scale(1.05); 
}

.icon {
    width: 20px; 
    height: 20px;
    margin-right: 8px; 
    vertical-align: middle; 
    filter: invert(1);  
}
